@charset "UTF-8";

/* 
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

:root{
   --lilas: #5f2c82;
   --verde:  #49a09d;
}

/* MOBILE FIRST */

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;    /* A borda conta como largura */
}

body, html{
    background-color: var(--lilas);
    height: 100vh; /*100% da tela*/
    width: 100vw;
    font-size: 0.9em;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden; /*Tudo que tiver fora da borda será excluído, pois a imagem tinha passado a borda*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.427);

    /* Quando aumentar leva 1s */
    transition: width .3s, height .3s;

    transition-timing-function: ease; /*suaviza transição*/

    transform: translate(-50%, -50%);
}

section#login div#imagem{
    display: block;
    background: var(--lilas) url(../imagens/pexels-bruthethe-3035998\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    background-position: center bottom; /*Posiciona a imagem de acordo com o que você quiser*/
}

section#login div#formulario{
    display: block;
    padding: 10px;
    text-align: justify;
}

div#formulario h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario p{
    font-size: 0.9em;
}

form div.campo{
    background-color: var(--lilas);
    width: 100%;
    border: 2px solid var(--lilas);
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px; /*De cima e em baixo: 5px o resto é 0px*/
}

form label{
    display: none;
}

div.campo i{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo input{
    background-color: #61d5d1;
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    
    transform: translateY(-19%);
}

/* QUANDO CLICAR A CAIXA FICARÁ BRANCA */
div.campo input:focus-within{
    background-color: white;
    border: none;
}

form input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--verde);
    color: white;
    border: none;
    border-radius: 5px;
}

form input[type=submit]:hover{
    background-color: #25827f;
    cursor: pointer;
}

form a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid var(--verde);
    border-radius: 5px;
    text-decoration: none;
    color: #2f6664;
    padding-top: 7px;
    margin-top: 5px;
}

form a.botao i{
    font-size: 0.9em;
}

form a.botao:hover{
    background-color: #39c6c1;
}



